.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    vertical-align: middle !important;
}

.table > thead > tr > th {
    text-transform: uppercase;
    text-align: center;
}

.btn-icon-delivery {
    width: 18px !important;
    border: none;
    margin: 2px !important;
    padding: 0px 6px !important;
}

.logo-default {
    height: 35px;
    margin-top: 5px !important;
}

.page-header.navbar .page-logo {
    width: 320px;
}

.no-round {
    border-radius: 0px !important;
}

.page-title {
    margin-top: 0px !important;
}


table.dataTable tbody th, table.dataTable tbody td, table.dataTable thead th, table.dataTable thead td{
    padding: 5px !important;
}
table.dataTable thead th, table.dataTable thead td{
    padding: 5px 20px 5px 5px !important;
}
.blockMsg {
    border: none !important;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a, .page-sidebar .page-sidebar-menu > li.active > a, .page-sidebar .page-sidebar-menu > li.active.open > a {
    background-color: rgb(152, 180, 40) !important;
}

.font-green-antargaz {
    color: rgb(152, 180, 40) !important;
}

.dataTables_wrapper .dataTables_length {
   /* display: none !important; */
}

.dataTables_filter {
   /* margin-top: -65px !important; */
}
#tours-day-table_length select{
    border-radius:0px !important;
}

div.dataTables_wrapper div.dataTables_filter input {
    width: 250px !important;
    border-radius: 0px !important;
}

.select2-container--bootstrap .select2-search--dropdown .select2-search__field, .select2-container--bootstrap .select2-selection, .select2-container--bootstrap.select2-container--focus .select2-selection, .select2-container--bootstrap.select2-container--open .select2-selection {
    border-radius: 0;
}

.select2-container--bootstrap .select2-results__option--highlighted[aria-selected] {
    background-color: rgb(152, 180, 40) !important;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    background-color: rgb(152, 180, 40) !important;
    border-color: rgb(152, 180, 40) !important;

}

.pb10 {
    padding-bottom: 10px !important;
}

.select2 {
    width: 100% !important;
}

.h360 {
    height: 360px !important;
}

.mb10 {
    margin-bottom: 10px !important;
}

.list-group-custom {
    color: #9eacb4 !important;
    font-size: 12px !important;
    font-weight: 300;
}

.list-group-custom h4 {
    font-size: 13px !important;
}

.group-user.active > h4 {
    color: white !important;
}

.green-antargaz {
    background-color: rgb(152, 180, 40) !important;
    color: white;

}

.pl30 {
    padding-left: 60px;
}

.underline {
    text-decoration: underline;
}

.table-300 td {
    font-weight: 300 !important;
    font-size: 12px !important;

}

.hackp {
    text-align: left !important;
}

body.stop-scrolling {
    height: 100%;
    overflow: hidden;
}


.text-black {
    color: black;
}

.t-left span {
    font-weight: bold;
}

.tright {
    text-align: right !important;
}

.br3b {
    border-right: 3px solid #3498db !important;
}

.bl3b {
    border-left: 3px solid #3498db !important;
}

.bstrip {
    background-color: #dedede !important;
    color: white !important;
}

.t-left {
    text-align: left !important;
}


.mbuttongrey {
    background-color: #dedede;
    color: white;
    border: none;
    box-shadow: none;
    font-size: 17px;
    font-weight: 500;
    -webkit-border-radius: 4px;
    border-radius: 5px;
    padding: 10px 32px;
    margin: 26px 5px 0 5px;
    cursor: pointer;
}

.table > tbody > tr.danger > td, .table > tbody > tr.danger > th, .table > tbody > tr > td.danger, .table > tbody > tr > th.danger, .table > tfoot > tr.danger > td, .table > tfoot > tr.danger > th, .table > tfoot > tr > td.danger, .table > tfoot > tr > th.danger, .table > thead > tr.danger > td, .table > thead > tr.danger > th, .table > thead > tr > td.danger, .table > thead > tr > th.danger{
    background-color: #fbe1e3 !important;
}

.modal.fade.in {
    top: 2% !important;
    margin-top: 0px !important;
    transition: top .2s linear;
}

button.buttons-columnVisibility:active:not(.disabled), button.buttons-columnVisibility.active:not(.disabled), div.buttons-columnVisibility:active:not(.disabled), div.buttons-columnVisibility.active:not(.disabled), a.buttons-columnVisibility:active:not(.disabled), a.buttons-columnVisibility.active:not(.disabled){
    background-color: #87D37C !important;
}

button.buttons-columnVisibility, div.buttons-columnVisibility, a.buttons-columnVisibility{
    border:none;
    border-radius: 0;
    box-shadow: none !important;
}